<div ng-controller="alterUser">
	<input class="w3-input" type="text" placeholder="Keyword..." ng-model="keyword">
	<table class="w3-table-all w3-margin-top table-users">
		<thead>
			<tr class="w3-green">
				<th>Ordinal Number</th>
				<th ng-click="sortBy('firstname')">Firstname</th>
				<th ng-click="sortBy('lastname')">Lastname</th>
				<th ng-click="sortBy('firstname')">Username</th>
				<th>Password</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users | filter:keyword | orderBy:mySort">
				<td>{{$index + 1}}</td>
				<td>
					<span ng-hide="user.boolEdit">{{user.firstname}}</span>
					<input type="text" ng-show="user.boolEdit" ng-model="user.firstname">
				</td>
				<td>
					<span ng-hide="user.boolEdit">{{user.lastname}}</span>
					<input type="text" ng-show="user.boolEdit" ng-model="user.lastname">
				</td>
				<td>
					<span ng-hide="user.boolEdit">{{user.username}}</span>
					<input type="text" ng-show="user.boolEdit" ng-model="user.username">
				</td>
				<td>
					<input type="password" class="input-no-edit" ng-hide="user.boolEdit" ng-model="user.password" readonly="readonly">
					<input type="password" ng-show="user.boolEdit" ng-model="user.password">
				</td>
				<td>
					<i class="fa fa-pencil w3-margin-right" aria-hidden="true" ng-hide="user.boolEdit" ng-click="editUser(user)"></i>
					<i class="fa fa-trash" aria-hidden="true" ng-hide="user.boolEdit" ng-click="deleteUser(user.id)"></i>
					<i class="fa fa-floppy-o w3-margin-right" aria-hidden="true" ng-show="user.boolEdit" ng-click="saveUser(user, user.id)"></i>
					<i class="fa fa-times-circle" aria-hidden="true" ng-show="user.boolEdit" ng-click="cancelChange(user, $index)"></i>
				</td>
			</tr>
		</tbody>
	</table>
	<button class="w3-btn w3-green w3-ripple w3-margin-top" ng-hide="showRegister" ng-click="createUser()">Create New User</button>
	<div ng-show="showRegister">
		<div class="w3-container w3-blue-grey w3-margin-top">
			<h6>Register Form</h6>
		</div>
		<form class="w3-container">
			<p>
				<label class="w3-text-grey"><b>First Name</b></label>
				<input class="w3-input w3-border w3-light-grey" type="text" ng-model="firstname">
			</p>
			<p>
				<label class="w3-text-grey"><b>Last Name</b></label>
				<input class="w3-input w3-border w3-light-grey" type="text" ng-model="lastname">
			</p>
			<p>
				<label class="w3-text-grey"><b>Username</b></label>
				<input class="w3-input w3-border w3-light-grey" type="text" ng-model="username">
			</p>
			<p>
				<label class="w3-text-grey"><b>Password</b></label>
				<input class="w3-input w3-border w3-light-grey" type="password" ng-model="password">
			</p>
			<p class="w3-clear">
				<button class="w3-btn w3-left w3-blue-grey" ng-click="registerUser()">Register</button>
				<button class="w3-btn w3-right w3-black" ng-click="cancelRegister()">Cancel</button>
			</p>
		</form>
	</div>
</div>